:root {
  --green: #73c586;
  --light-green: #c5d6cb;
  --yellow-green: #e8eed1;
  --light-blue: #d1e3eb;
  --near-white: #fcfcfc;
  --container-width: 834px;
  --gap: 30px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f6f2;
  top: 0;
}

p {
  margin-top: 10px;
}

.group-container {
  width: var(--container-width);
  margin: 0 auto;
}

/* Post Comment */
.group-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.group-header {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  background: #c5d6cb;
  margin-bottom: var(--gap);
}

.group-name-banner {
  background: #73c586;
  display: flex;
  align-content: center;
  height: 50px;
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#group-name {
  color: #f4f6f2;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  width: 100%;
}

.create-post {
  display: block;
  background: #fcfcfc;
  border-radius: 10px;
  height: 120px;
  width: 100%;
  margin-bottom: var(--gap);
}

#post-form {
  position: relative;
  top: 50%;
}

.user-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f7ce82;
  align-content: left;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
}

#post-input {
  background-color: #eeeeee;
  border-radius: 10px;
  margin-left: 20px;
  height: 40px;
  width: 70%;
  color: #8a8686;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-indent: 1em;
  outline: none;
  border: none;
  transform: translateY(-50%);
}

.camera-btn {
  background: none;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  right: 0px;
  margin: 0 10px;
  outline: none;
}

.post-btn {
  background: none;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  margin-right: 15px;
  outline: none;
}

#fileid {
  display: none;
}

.medium-icon {
  height: 30px;
}

.post-feed {
  display: block;
  width: 100%;
}

.post-div {
  background: #fcfcfc;
  margin-top: 30px;
  padding-top: 20px;
  position: relative;
  border-radius: 10px;
}

.post-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f7ce82;
  align-content: left;
  position: flex;
  margin-left: 20px;
}

.post-author {
  text-align: left;
  margin-left: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  position: flex;
}

.post-content {
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin: 20px 20px 20px 20px;
}

.img-div {
  width: 80%;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
}

.uploadedImage {
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
  max-width: 100%;
  max-height: 100%;
}

.likes-div {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
}

/* heart styling */
.liked {
  animation: like 0.5s 1;
  fill: red;
  stroke: none;
  font-size: 30px;
  margin-left: 90%;
  align-content: left;
  top: 50%;
  transform: translateY(-50%);
}
.unliked {
  fill: transparent;
  stroke: black;
  stroke-width: 30;
  transition: all 0.5s;
  font-size: 30px;
  margin-left: 90%;
  align-content: left;
  top: 50%;
  transform: translateY(-50%);
}

.likes-label {
  align-content: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #8a8686;
  top: 50%;
  transform: translateY(-50%);
  padding-inline-start: 50px;
}

.comment-input {
  background-color: #eeeeee;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  color: #8a8686;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  outline: none;
  border: none;
  text-indent: 1em;
  bottom: 0;
  left: 0;
  padding-right: 50px;
  box-sizing: border-box;
}

.comment-box-div {
  width: 100%;
  bottom: 0;
  left: 0;
  height: 50px;
  position: relative;
}

.small-icon {
  height: 20px;
}

.comments-content {
  margin-top: 50px;
  margin-bottom: 20px;
}

.comment-content {
  list-style-type: none;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.comment-user {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f5ceda;
  align-content: left;
}

.comment-text-div {
  margin-left: 20px;
  background-color: #eeeeee;
  border-radius: 10px;
  width: 85%;
  position: relative;
  height: auto;
}

.comment-text {
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  padding: 8px 12px;
}

#comment-input {
  background-color: #eeeeee;
  border-radius: 10px;
  align-content: left;
  margin-left: 100px;
  height: 40px;
  width: 70%;
  color: #8a8686;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  padding-left: 8px;
  outline: none;
}

.align-vertical {
  display: inline-block;
  vertical-align: middle;
}

.fa-paper-plane {
  height: 30px;
}

/* Challenge */
.challenge-container {
  background: var(--near-white);
  border-radius: 10px;
  width: 754px;
  padding: 40px;
  margin-bottom: var(--gap);
}

#due-date {
  color: #acb4c2;
  font-size: 13px;
}

/* Poll */
.poll-container {
  background: var(--near-white);
  border-radius: 10px;
  width: 100%;
  padding: 40px 0;
}

.inner-poll-container {
  margin: 0px 40px 100px 40px;
}

.section-text {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 0;
}

p {
  font-size: 24px;
}

#options-container {
  width: 720px;
}

.poll-rect {
  fill: rgb(232, 238, 209);
}

.poll-inner-rect {
  fill: rgb(115, 197, 134);
}

#input-box {
  width: 677px;
  height: 55px;
  border-radius: 25px;
  border: none;
  background-color: #eeeeee;
  padding-left: 20px;
  font-size: 24px;
  outline: none;
  margin: 0 40px;
}

.votes-label {
  position: relative;
  float: right;
  right: 27px;
  font-size: 24px;
  color: #8a8686;
}

input[type="checkbox"] {
  display: none;
}

.check-container {
  position: relative;
  bottom: 30px;
  left: 10px;
}

input[type="checkbox"] + label {
  z-index: 15;
  position: absolute;
  left: 0;
  top: -1px;
  bottom: 10px;
  right: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
  width: 20px;
  border: 4px solid #444;
  height: 20px;
}

.tag {
  margin-left: 40px;
}

input[type="checkbox"]:checked + label {
  z-index: 15;
  display: inline-block;
  transform: rotate(-50deg) translate(5px, -9px);
  transition: all 0.2s ease;
  width: 20px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: var(--green);
  border-left-color: transparent;
  height: 20px;
}

input[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 100%;
  height: 15px;
  border-left: 4px solid var(--green);
}
