:root {
  --green: #73c586;
  --lightgreen: #c5d6cb;
  --yellowgreen: #e8eed1;
  --lightblue: #d1e3eb;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #F4F6F2;
}

/* Post Comment */
.group-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.group-header {
  display: block;
  border-radius: 10px;
  position: absolute;
  background: #C5D6C8;
  height: 200px;
}

.create-post {
  display: block;
  background: #fcfcfc;
  border-radius: 10px;
  margin-top: 40px;
  position: absolute;
  height: 80px;
  width: 100%;
}

.user-img {
  height: 60px;
  width: 60px;
  position: absolute;
  border-radius: 50%;
  background-color: #F7CE82;
  align-content: left;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
}

#post-input {
  background-color: #EEEEEE;
  border-radius: 10px;
  align-content: left;
  margin-left: 100px;
  height: 50px;
  margin-top: 10px;
  width: 75%;
  outline-color: #EEEEEE;
}

.post-btn {
  margin-left: 30px;
  height: 30px;
  width: 60px;
  border-radius: 20%;
  background: #c5d6cb;
}

.posts-container {
  margin-top: 500px;
  display: block;
}

.post-div {
  display: block;
  background: #fcfcfc;
  margin-top: 20px;
  padding: 20px 30px 30px 30px;
}

.post-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #F7CE82;
  align-content: left;
}

.post-author {
  text-align: left;
  margin-left: 20px;
}

.post-content {
  text-align: left;
}

.align-vertical {
  display: inline-block;
  vertical-align: middle;
}