html, body {
  height: 100vh;
  margin: 0; 
  min-height: 100vh;
  padding: 0;
}

.content {
  align-items: center;
  display: flex;
  justify-content:center;
}

body {
  font-family: "Roboto", sans-serif;
}

.content #left-side {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 45%;
}

#left-side .wrapper h1 {
  color: var(--dark-green);
  font-size: 64px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.content .wrapper {
  align-items: center;
  background-color: var(--background);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 0;
}

.form-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 380px;
}

.button-box {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 40px auto 20px;
  width: 220px;
}

.toggle-btn {
  background: transparent;
  border: 0;
  color: #636060;
  cursor: auto;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  outline: none;
  padding: 10px 30px 0;
}

#register {
  display: none;
}

.input-group {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
}

.input-field {
  background: var(--white);
  border: 1px solid var(--text-gray);
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
}

#left-side #login-btn {
  background-color: var(--dark-green);
  border: none;
  border-radius: 12px;
  color: var(--white);
  display: inline-block;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 280px;
}

svg {
  left: 16px;
  position: absolute;
  top: 11px;
}

.content #right-side {
  align-items: center;
  background-color: var(--dark-green);
  display: flex;
  height: 100vh;
  justify-content: center;
  min-height: 100%;
  width: 55%;
}