#members-container {
  background-color: var(--near-white);
  border-radius: 10%;
  color: var(--badges-gray);
  height: 280px;
  padding: 25px;
  width: 200px;
  margin-top: 180px;
}

#members-container h4 {
  margin: 0px;
  align-content: left;
  position: flex;
}

.scrollbox {
  margin-top: 15px;
  overflow: auto;
  max-height: 230px;
}

.member-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.member-grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
}

.plus-icon {
  background: none;
  border: none;
  outline: none;
  align-content: left;
  position: flex;
  float: right;
}

/* Modal background */
.member-modal,
.add-member {
  display: none;
  visibility: none;
  position: fixed;
  z-index: 50;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);
}

/* Modal Content */
.member-content,
.add-member-content {
  background-color: var(--near-white);
  margin: auto;
  padding: 15px 20px;
  border: 1px solid #888;
  width: 30%;
  max-width: 600px;
  border-radius: 10px;
}

/* The Close Button */
#add-close,
#member-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#add-close:hover,
#add-close:focus,
#member-close:hover,
#member-close:focus {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

.member-img-blank {
  border-radius: 50%;
  background-color: var(--orange);
  align-content: center;
  margin: 0 auto;
}

.small-member-img {
  height: 20px;
  width: 20px;
  margin-bottom: 10px;
}

.large-member-img {
  height: 100px;
  width: 100px;
  margin-top: 30px;
}

.member-img-div .member-img {
  border-radius: 50%;
  align-content: center;
  margin: 0 auto;
}

.member-name {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: var(--black);
}

.member-badges {
  align-content: center;
  margin: 0 auto;
}

.add-member h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 10px 20px 0px;
}

.add-member input {
  background-color: var(--placeholder-gray);
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 40px;
  color: #8a8686;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-indent: 1em;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 20px;
}

.add-member label {
  display: block;
  font-size: 16px;
  margin: 10px 10px 20px 0px;
}

.add-member input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  outline: none;
}

.add-member-btn {
  background-color: var(--dark-green);
  border: none;
  border-radius: 15px;
  color: var(--white);
  cursor: pointer;
  display: block;
  font-size: 16px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 100px;
}

/* Search by name */
.suggestions > div {
  padding: 15px;
}

.suggestions > div:hover {
  background-color: var(--light-green);
}

@media (max-width: 1600px) {
  #members-container {
    margin-right: 1%;
  }
}
