/* Styling the content area */
.content {
  display: flex;
  font-family: Roboto;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.sidebar {
  align-items: center;
  background-color: var(--near-white);
  color: var(--black);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 50px;
  width: 300px;
  z-index: 1;
}

.main {
  background-color: var(--background);
  color: var(--black);
  flex: 1 1 auto;
  height: 100%;
  overflow: scroll;
  width: calc(100%-300px);
}

.sidebar .wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sidebar #profile-pic {
  background-color: var(--orange);
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.sidebar #badge-container {
  background-color: var(--badges-background);
  border-radius: 10%;
  color: var(--text-gray);
  height: 170px;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
}

#badge-container h4 {
  margin: 5px;
  padding: 0 5px;
}

#badge-container #badge-grid {
  display: grid;
  gap: 20px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(45px, 45px));
  margin: 10px 10px 10px 12px;
}

#badge-container #badge-grid .badge {
  background-color: var(--badges-gray);
  border-radius: 4px;
  height: 45px;
  width: 45px;
}

.sidebar #group-buttons button {
  align-items: center;
  background-color: var(--dark-green);
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-size: 16px;
  justify-content: center;
  margin: 10px;
  min-width: 130px;
  outline: none;
  padding: 10px;
  text-align: center;
}

.sidebar #edit-btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 15px auto;
  outline:none
}

.sidebar #edit-btn img {
  height: 30px;
  width: 30px;
}

.main-content {
  padding: 50px 100px;
}

.main h1 {
  font-size: 24px;
  font-weight: bold;
}

.main #interests-container {
  margin-bottom: 10px;
}

.main #interests-container #interest {
  border-radius: 20px;
  color: white;
  display: inline-block;
  margin: 10px;
  min-width: 90px;
  padding: 10px;
  text-align: center;
}

#interest:nth-child(3n+1) {
  background-color: var(--light-pink);
}

#interest:nth-child(3n+2) {
  background-color: var(--light-blue);
}

#interest:nth-child(3n+0) {
  background-color: var(--header-green);
}

.main .group-container {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.main .groups-container a,
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.main .group-name {
  background-color: var(--dark-green);
  border-radius: 10px;
  color: white;
  margin: -10px 0 10px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.main .header-img {
  background-color: var(--header-green);
  border-radius: 10px;
  height: 200px;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .content {
    align-items: center;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    padding-top: 15px;
  }

  .main {
    width: 100%;
  }
}

/* Style the edit profile modal */
.edit-modal {
  background-color: rgba(0, 0, 0, 0.75);
  left: 0;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  visibility: hidden;
  width: 100%;
  z-index: 2;
}

.edit-modal-content {
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  color: var(--black);
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  justify-content: center;
  left: 50%;
  padding: 1rem 1.5rem;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 36rem;
}

.edit-modal form {
  margin: 0;
  width: 95%;
}

.edit-modal .close {
  color: var(--text-gray);
  cursor: pointer;
  font-weight: normal;
  position: absolute;
  top: 20px;
  right: 20px;
}

.edit-modal .form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em .25em;
}

.edit-modal #modal-name-container {
  font-size: 22px;
  font-weight: bold;
  margin: 1em auto;
}

.edit-modal #modal-profile-pic {
  background-color: var(--orange);
  border-radius: 50%;
  height: 150px;
  margin: 1rem 0;
  width: 150px;
}

.edit-modal label {  
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: .5em .75em .5em 0;
}

.edit-modal #padded-label {  
  padding: .5em .75em;
}

.edit-modal input {
  background-color: var(--placeholder-gray);
  border-radius: 3px;
  border: none;
  display: inline-block;
  flex: 1;
  margin: 0.25rem -0.25rem;
  padding: 0.6rem 0.6rem;
}

.edit-modal input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  outline: none;
}

.save-btn {
  background-color: var(--dark-green);
  border: none;
  border-radius: 3px;
  color: var(--white);
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 20px auto 40px;
  padding: 5px 10px;
  text-align: center;
  width: 200px;
}

/* Style the create group modal */
.group-modal {
  background-color: rgba(0, 0, 0, 0.75);
  left: 0;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  visibility: hidden;
  width: 100%;
  z-index: 2;
}

.group-modal-content {
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  color: var(--black);
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  justify-content: center;
  left: 50%;
  padding: 1rem 1.5rem;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 24rem;
}

.group-modal h2 {
  font-size: 22px;
  font-weight: bold;
}

.group-modal form {
  margin: 0;
  width: 95%;
}

.group-modal .close {
  color: var(--text-gray);
  cursor: pointer;
  font-weight: normal;
  position: absolute;
  top: 20px;
  right: 20px;
}

.group-modal label {
  display: block;
  font-size: 16px;
  padding: .5em .75em .3em 0;
}

.group-modal input {
  background-color: var(--placeholder-gray);
  border-radius: 10px;
  border: none;
  display: block;
  margin: 0.25rem -0.25rem;
  padding: 0.6rem 0.6rem;
  width: 100%;
}

.group-modal input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  outline: none;
}

.create-group-btn {
  background-color: var(--dark-green);
  border: none;
  border-radius: 15px;
  color: var(--white);
  cursor: pointer;
  display: block;
  font-size: 16px;
  margin: 20px auto 20px;
  padding: 10px;
  text-align: center;
  width: 100px;
}

.show-modal {
  opacity: 1;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  visibility: visible;
}
